<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.ex.ExamSelectionMapper">

	<!-- 사용자용: 정답지가 존재하는 시험 유형만 조회 -->
	<select id="getExamTypes" resultType="ExamTypeDto">
		SELECT main_type.exam_type_code,
		       main_type.exam_type_name
		  FROM exam_type main_type
		 WHERE main_type.is_deleted = 0
		   AND main_type.exam_type_code NOT LIKE '%Answer'
		   AND main_type.exam_type_id IN (
		       SELECT paper.exam_type_id
		         FROM exam_info paper
		         JOIN exam_info ans ON paper.exam_round = ans.exam_round 
		                           AND paper.exam_subject = ans.exam_subject
		                           AND paper.folder_id = ans.folder_id
		         JOIN exam_type ans_type ON ans.exam_type_id = ans_type.exam_type_id
		        WHERE paper.isdeleted = 'N'
		          AND ans.isdeleted = 'N'
		          AND ans_type.exam_type_code LIKE '%Answer'
		   )
		 ORDER BY main_type.exam_type_id
	</select>
	
	<!-- 관리자용: 시험지 및 정답지 PDF 업로드시 전체 유형 가져옴 (시험지 + 정답지 유형 포함) -->
	<select id="getAllExamTypes" resultType="ExamTypeDto">
		SELECT exam_type_code,
			   exam_type_name
		  FROM exam_type
		 WHERE is_deleted = 0
		 ORDER BY exam_type_id
	</select>
	
	<!-- 관리자용: 시험지 수동 등록 시 정답지(Answer) 유형을 제외한 시험지 유형만 조회 -->
	<select id="getExamPaperTypes" resultType="ExamTypeDto">
		SELECT exam_type_code,
			   exam_type_name
		  FROM exam_type
		 WHERE is_deleted = 0
		   AND exam_type_code NOT LIKE '%Answer'
		 ORDER BY exam_type_id
	</select>
	
	<select id="getExamRounds" resultType="String">
		SELECT distinct exam_round
		  FROM exam_info
		 WHERE exam_type_id = (
		 	SELECT exam_type_id
			  FROM exam_type
			 WHERE exam_type_code = #{examTypeCode}
		 )
		 AND isdeleted = 'N'
		 ORDER BY exam_round
	</select>
	
	<!-- examId로 시험지 정보 조회 -->
	<select id="getExamInfoByExamId" parameterType="int" resultType="ExamInfoDto">
		SELECT t.exam_type_code AS examtypeeng, 
		       t.exam_type_name AS examtypekor, 
		       f.exam_round, 
		       f.exam_subject
		  FROM exam_info f
		  JOIN exam_type t ON t.exam_type_id = f.exam_type_id
		 WHERE exam_id = #{examId}
		   AND isdeleted = 'N'
	</select>

	<!-- examTypeId로 examId 조회 -->
	<select id="getExamIdByExamTypeId" parameterType="java.util.HashMap" resultType="int">
		SELECT exam_id
		  FROM exam_info
		 WHERE exam_type_id = (
			SELECT exam_type_id
			  FROM exam_type
			 WHERE exam_type_code = #{examTypeEng}
		 )
		   AND ISDELETED = 'N'
		   AND EXAM_ROUND = #{examRound}
		   AND EXAM_SUBJECT = #{examSubject}
	</select>
	
	<select id="getExamTypeIdByExamTypeCode" parameterType="String" resultType="int">
		SELECT exam_type_id
		  FROM exam_type
		 WHERE exam_type_code = #{examTypeEng}
	</select>
	
	<!-- 특정 시험 회차에 대해 등록된 시험 과목을 불러옴  -->
	<!-- 정답지와 연결된 시험지의 과목만 불러옴 -->
	<select id="getSubjectsByExamRound" parameterType="java.util.HashMap" resultType="String">
		SELECT DISTINCT i.exam_subject
		  FROM exam_info i
		 WHERE i.exam_type_id = (
		 	SELECT exam_type_id
			  FROM exam_type
			 WHERE exam_type_code = #{examTypeCode}
		 )
		   AND i.exam_round = #{examRound}
		   AND i.isdeleted = 'N'
		   AND EXISTS (
		   	   SELECT 1
		   	     FROM exam_info info
		   	     JOIN exam_answer a ON a.exam_id = info.exam_id
		   	    WHERE info.exam_type_id = (
		   	    	SELECT exam_type_id
		   	    	  FROM exam_type
		   	    	 WHERE exam_type_code = CONCAT(#{examTypeCode}, 'Answer')
		   	    )
		   	      AND info.exam_round = i.exam_round
		   	      AND info.exam_subject = i.exam_subject
		   	      AND info.isdeleted = 'N'
		   )
		 ORDER BY i.exam_subject
	</select>
	
	<!-- 특정 폴더에 있는 모든 시험지/정답지 정보 가져옴 -->
	<select id="getAllExamTitlesByFolderId" resultType="ExamTitleDto">
		SELECT
			 i.exam_type_id AS examTypeId,
			 t.exam_type_code AS examTypeCode,
			 t.exam_type_name AS examTypeName, 
		     
		     i.exam_id AS examId,
		     i.exam_round AS examRound,
		     i.exam_subject AS examSubject,
		     
		     CASE
		     	WHEN t.exam_type_code LIKE '%Answer' THEN
		     	    (SELECT COUNT(*) 
		               FROM exam_answer a 
		              WHERE a.exam_id = i.exam_id)
		        ELSE
				    (SELECT COUNT(*) 
		               FROM exam_question q 
		              WHERE q.exam_id = i.exam_id)
			END AS totalCount,
			
             i.created_date,
             f.folder_id
		  FROM exam_info i
		  JOIN exam_type t ON i.exam_type_id = t.exam_type_id
		  JOIN exam_folder f ON i.folder_id = f.folder_id
		  WHERE f.folder_id = #{folderId}
		    AND i.isdeleted = 'N'
		  ORDER BY i.created_date DESC
	</select>
		
	<!-- 중복 시험 여부 확인 -->
	<select id="checkExistingExamInfo" parameterType="ExamInfoDto" resultType="Integer">
		SELECT COUNT(*)
		  FROM exam_info
		 WHERE exam_type_id = #{examTypeId}
		   AND exam_round = #{examRound}
		   AND exam_subject = #{examSubject}
		   AND isdeleted = 'N'
	</select>
	
	<!-- PDF 크롤링 시험 정보 저장 -->
	<insert id="saveParsedExamInfo" parameterType="ExamInfoDto">
		<selectKey resultType="int" keyProperty="examId" order="BEFORE" >
			SELECT seq_exam_info.nextval FROM dual
		</selectKey>
		INSERT INTO exam_info
			(
			exam_id,
			exam_type_id,
			exam_round,
			exam_subject,
			sessionNo,
			folder_id
			)
		 VALUES
		 	(
		 	#{examId},
		 	#{examTypeId},
		 	#{examRound},
		 	#{examSubject},
		 	#{sessionNo},
		 	#{folderId}
		 	)
	</insert>
	
	<!-- 시험 문제 저장 -->
	<insert id="saveParsedQuestionInfo" parameterType="java.util.HashMap">
		<selectKey keyProperty="questionId" resultType="int" order="BEFORE">
			SELECT seq_exam_question.nextval FROM dual
		</selectKey>
		INSERT INTO exam_question
			(
			question_id,
			exam_id,
			question_num,
			question_text,
			question_image,
			individualPassage,
			commonPassage,
			passage_scope
			)
		VALUES
			(
			#{questionId},
			#{examId},
			#{questionNum},
			#{questionText},
			null,
			#{individualPassage},
			#{commonPassage},
			#{passageScope}
			)
	</insert>
	
	<!-- 시험 선택지 저장 -->
	<insert id="saveParsedChoiceInfo" parameterType="ExamChoiceDto">
		INSERT INTO exam_choice
			(
			choice_id,
			exam_id,
			question_id,
			choice_label,
			choice_text,
			choice_image,
			choice_num
			)
		VALUES
			(
			seq_exam_choice.nextval,
			#{examId},
			#{questionId},
			#{choiceLabel},
			#{choiceText},
			#{choiceImage},
			#{choiceNum}
			)
	</insert>
	
	<!-- 시험 종류 가져오기 -->
	<select id="getExamtypename" resultType="String">
		SELECT exam_type_name
		  FROM exam_type
		 WHERE exam_type_code = #{examType}
	</select>
	
	<!-- examType, examRound, examSubject로부터 시험 전체 문제 가져오기 -->
	<select id="getExamQuestions" parameterType="java.util.HashMap" resultType="ExamQuestionDto">
		SELECT Q.question_id,
			   Q.exam_id,
			   Q.question_num,
		       Q.question_text,
		       Q.question_image,
		       Q.individualPassage,
		       Q.commonPassage,
		       Q.passage_scope
		  FROM exam_question Q
		  JOIN exam_info I on Q.exam_id = I.exam_id
		  JOIN exam_type T on I.exam_type_id = T.exam_type_id
		 WHERE T.exam_type_code = #{examType}
		   AND I.exam_round = #{examRound}
		   AND I.exam_subject = #{examSubject}
		   AND I.isdeleted = 'N'
		 ORDER BY Q.question_num asc
	</select>
	
	<!-- examId로부터 시험 전체 문제 가져오기 -->
	<select id="getExamQuestionsByExamId" resultType="ExamQuestionDto">
		SELECT question_id,
			   question_num,
		       question_text,
		       question_image,
		       individualPassage,
		       commonPassage,
		       passage_scope
		  FROM exam_question 
		 WHERE exam_id = #{examId}
		 ORDER BY question_num asc
	</select>	
	
	<!-- questionId로부터 특정 문제 가져오기 -->
	<select id="getExamQuestionByQuestionId" resultType="ExamQuestionDto">
		SELECT question_id,
			   question_num,
			   question_text,
			   individualPassage,
			   commonPassage,
			   passage_scope
		  FROM exam_question
		 WHERE question_id = #{questionId}
	</select>
	
	<!-- 선택지 가져오기 -->
	<select id="getExamChoicesByExamId" parameterType="int" resultType="ExamChoiceDto">
		SELECT question_id,
			   choice_id,
		       choice_label,
		       choice_text,
		       choice_image,
		       choice_num
		  FROM exam_choice
		 WHERE exam_Id = #{examId}
		 ORDER BY question_id ASC, choice_label ASC
	</select>
	
	<!-- 특정 문제의 선택지 가져오기 -->
	<select id="getExamChoicesByQuestionId" parameterType="int" resultType="ExamChoiceDto">
		SELECT question_id,
			   choice_id,
		       choice_label,
		       choice_text,
		       choice_image,
		       choice_num
		  FROM exam_choice
		 WHERE question_id = #{questoinId}
		 ORDER BY question_id ASC, choice_label ASC
	</select>
	
	<!-- 공통 지문 시작번호 추출 -->
	<select id="getCommonPassageInfo" parameterType="java.util.HashMap" resultType="ExamQuestionDto">
		SELECT Q.passage_scope, Q.commonpassage
		  FROM exam_question Q
		  JOIN exam_info I on Q.exam_id = I.exam_id
		  JOIN exam_type T on I.exam_type_id = T.exam_type_id
		 WHERE T.exam_type_code = #{examType}
		   AND I.exam_round = #{examRound}
		   AND I.exam_subject = #{examSubject}
		   AND Q.passage_scope IS NOT NULL
		   AND I.isdeleted = 'N'
	</select>
	
	<!-- 시험지의 전체 문항 수 -->
	<select id="getTotalQuestionCount" parameterType="int" resultType="int">
		SELECT count(question_num)
		  FROM exam_question
		 WHERE exam_id = #{examId}
	</select>
	
	<!-- 시험지 삭제 -->
	<update id="deleteExams" parameterType="java.util.List">
		UPDATE exam_info
		   SET isdeleted = 'Y'
		 WHERE exam_id IN
		 <foreach item="id" collection="list" open="(" separator="," close=")">
		 	#{id}
		 </foreach> 
	</update>
	
	<!-- 과목 이름으로부터 id 조회 -->
	<select id="findSubjectIdByName" parameterType="java.util.HashMap" resultType="Integer">
		SELECT subject_id
		  FROM exam_subject
		 WHERE exam_subject = #{examSubject}
		   AND exam_type_id = #{examTypeId}
	</select>
	
	<!-- 시험 유형에 맞는 전체 과목 조회 -->
	<select id="getSubjectsForExamType" parameterType="String" resultType="String">
		SELECT s.exam_subject 
		  FROM exam_subject s
		  JOIN exam_type t on s.exam_type_id = t.exam_type_id
		 WHERE t.exam_type_code = #{examTypeCode}		
	</select>
	
	<!-- 시험 종류 코드로부터 id 조회 -->
	<select id="findTypeIdByCode" parameterType="String" resultType="Integer">
		 SELECT exam_type_id
		   FROM exam_type
		  WHERE exam_type_code = #{type}
	</select>
	
	<!-- 중복된 시험지를 등록하려는 경우 어느 폴더에 등록되었는지 알려주기 위해 folderId를 조회 -->
	<select id="findExistingExamFolderId" parameterType="ExamInfoDto" resultType="String">
		SELECT f.folder_name
		  FROM exam_folder f
		  JOIN exam_info i ON i.folder_id = f.folder_id
		 WHERE i.exam_type_id = #{examTypeId}
		   AND i.exam_round = #{examRound}
		   AND i.exam_subject = #{examSubject}
		   AND i.isdeleted = 'N'
	</select>
	
	<!-- examId로부터 folderId 조회 -->
	<select id="findFolderIdByExamId" parameterType="int" resultType="int">
		SELECT folder_id
		  FROM exam_info
		 WHERE exam_id = #{examId}
	</select>
	
	<!-- 시험지 단일 문항 수정 -->
	<update id="updateQuestion" parameterType="ExamQuestionDto">
		UPDATE exam_question
		   SET question_text = #{questionText},
			   individualpassage = #{individualPassage},
			   commonpassage = #{commonPassage},
			   passage_scope = #{passageScope}
		 WHERE question_id = #{questionId}
	</update>
	
	<!-- 시험지 단일 문항 선택지 수정 -->
	<update id="updateQuestionChoices" parameterType="ExamChoiceDto">
		UPDATE exam_choice
		   SET choice_text = #{choiceText}
		 WHERE choice_id = #{choiceId}
	</update>
	
	<!-- 시험지에 포함된 문제 개수 조회 -->
	<select id="getQuestionIdByExamId" parameterType="int" resultType="int">
		SELECT question_id
		  FROM exam_question
		 WHERE exam_id = #{examId}
	</select>
	
	<!-- 시험지 검색 -->
	<select id="searchExams" parameterType="ExamSearchDto" resultType="ExamTitleDto">
		SELECT
			 i.exam_type_id AS examTypeId,
			 t.exam_type_code AS examTypeCode,
			 t.exam_type_name AS examTypeName, 
		     
		     i.exam_id AS examId,
		     i.exam_round AS examRound,
		     i.exam_subject AS examSubject,
		     
		     CASE
		     	WHEN t.exam_type_code LIKE '%Answer' THEN
		     	    (SELECT COUNT(*) 
		               FROM exam_answer a 
		              WHERE a.exam_id = i.exam_id)
		        ELSE
				    (SELECT COUNT(*) 
		               FROM exam_question q 
		              WHERE q.exam_id = i.exam_id)
			END AS totalCount,
			
             i.created_date,
             f.folder_id
		  FROM exam_info i
		  JOIN exam_type t ON i.exam_type_id = t.exam_type_id
		  JOIN exam_folder f ON i.folder_id = f.folder_id
		  <where>
			  	AND f.folder_id = #{activeFolderId}
			    AND i.isdeleted = 'N'
			    
			    <if test="keyword != null and keyword != ''">
		            AND (t.exam_type_name LIKE '%' || #{keyword} || '%' 
		            	OR i.exam_subject LIKE '%' || #{keyword} ||'%'
		            	OR i.exam_round LIKE '%' || #{keyword} ||'%')
		        </if>
		        
		        <if test="type != null and type != ''">
		            AND t.exam_type_code = #{type}
		        </if>
		        
		        <if test="subject != null and subject != ''">
		            AND i.exam_subject = #{subject}
		        </if>
		        
		        <if test="year != null and year != ''">
		            AND i.exam_round LIKE '%' || #{year} || '%'
		        </if>
		        
		        <if test="round != null and round != ''">
		            AND i.exam_round LIKE '%' || #{round} || '%'
		        </if>
		  </where>
		  ORDER BY i.created_date DESC	
	</select>
	
	<!-- 전체 시험지 개수 조회 -->
	<select id="getTotalExamCount" resultType="int">
		SELECT COUNT(i.exam_id) AS total_exam_count
		  FROM exam_info i
		  JOIN exam_type t ON t.exam_type_id = i.exam_type_id
		 WHERE t.exam_type_code NOT LIKE '%Answer'
		   AND i.isdeleted = 'N'
	</select>
	
	<!-- 시험지는 있지만 대응하는 정답지가 없는 경우 조회 -->
	<select id="getMissingAnswerExams" resultType="ExamInfoDto">
		SELECT 
		    i.exam_id,
		    i.exam_type_id,
		    i.exam_round,
		    i.exam_subject,
		    i.folder_id,
		    i.isdeleted,
		    i.created_date,
		    t.exam_type_code,
		    t.exam_type_name
		FROM exam_info i
		JOIN exam_type t ON t.exam_type_id = i.exam_type_id
		WHERE t.exam_type_code NOT LIKE '%Answer'
		AND i.isdeleted = 'N'
		AND NOT EXISTS (
		    SELECT 1
		    FROM exam_info i2
		    JOIN exam_type t2 ON t2.exam_type_id = i2.exam_type_id
		    WHERE t2.exam_type_code LIKE '%Answer'
		    AND i2.isdeleted = 'N'
		    AND i.exam_round = i2.exam_round
		    AND i.exam_subject = i2.exam_subject
		)
	</select>
</mapper>