<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.ex.ExamAnswerMapper">

	<!-- questionId 조회 -->
	<select id="getQuestionId" parameterType="java.util.HashMap" resultType="Integer">
		SELECT q.question_id
		  FROM exam_question q
		  JOIN exam_info i ON i.exam_id = q.exam_id
		 WHERE i.exam_subject = #{examInfoDto.examSubject}
		   AND i.exam_round = #{examInfoDto.examRound}
		   AND i.exam_type_id = #{examInfoDto.examTypeId}
		   AND q.question_num = #{questionNum}
		   AND i.isdeleted = 'N'
	</select>

	<!-- 정답지 PDF 업로드 시 정답지 저장 -->
	<insert id="saveParsedAnswerData" parameterType="ExamAnswerDto">
		INSERT INTO exam_answer
			(
			answer_id,
			question_id,
			correct_answer,
			exam_id
			)
		VALUES
			(
			seq_exam_answer.nextval,
			#{questionId},
			#{correctAnswer},
			#{examId}
			)
	</insert>
	
	<!-- 정답지sheet 클릭 시 정답지만 조회 -->
	<select id="getAnswersByExamId" parameterType="int" resultType="ExamAnswerDto">
		SELECT q.question_num, a.correct_answer, a.question_id
		  FROM exam_answer a
		  JOIN exam_question  q on q.question_id = a.question_id
		 WHERE a.exam_id = #{examid}
		 ORDER BY question_num
	</select>
	
	<!-- 정답지 수정 -->
	<update id="updateAnswers" parameterType="ExamAnswerDto">
		UPDATE exam_answer
		   SET correct_answer = #{correctAnswer}
		 WHERE question_id = #{questionId}
	</update>
	
	<!-- 문제지 클릭 시 연결된 정답지 전체 조회 -->
	<select id="getAnswersByQuestionIds" parameterType="java.util.List" resultType="ExamAnswerDto">
		SELECT q.question_num, a.correct_answer, a.question_id
		  FROM exam_answer a
		  JOIN exam_question  q on q.question_id = a.question_id
		 WHERE a.question_id IN 
		 	<foreach collection="list" item="questionIds" open="(" separator="," close=")">
		 		#{questionIds}
	 		</foreach>
		 ORDER BY question_num
	</select>
	
	<!-- 특정 문항 수정 클릭 시 해당 문제 정답만 조회 -->
	<select id="getAnswerByQuestionId" parameterType="Integer" resultType="ExamAnswerDto">
		SELECT q.question_num, a.correct_answer, a.question_id, a.answer_id
		  FROM exam_answer a
		  JOIN exam_question  q on q.question_id = a.question_id
		 WHERE a.question_id = #{questionId}
		 ORDER BY question_num
	</select>
	
	<!-- 시험지 단일 문항 정답지 수정 -->
	<update id="updateQuestionAnswer" parameterType="ExamAnswerDto">
		UPDATE exam_answer
		   SET correct_answer = #{correctAnswer}
		 WHERE answer_id = #{answerId}
	</update>
	
	<!-- 전체 문항 개수 체크 -->
	<select id=""></select>
	
	<!-- 체점 -->
	<select id="checkAnswers" parameterType="ExamChoiceDto" resultType="ExamResultDto">
		SELECT 
		     a.question_id AS questionId,
		     a.correct_answer AS correctAnswer,
		     c.choice_num AS userAnswer,
		     c.choice_id AS choiceId,
		     CASE 
		        WHEN a.correct_answer = c.choice_num THEN 'Y'
		        ELSE 'N'
		      END AS iscorrect
		  FROM exam_choice c
		  JOIN exam_answer a ON a.question_id = c.question_id
		 WHERE (a.question_id, c.choice_id) IN
		 <foreach collection="list" item="item" open="(" separator="," close=")">
		 	(#{item.questionId}, #{item.choiceId})
		 </foreach>
	</select>
	
	<!-- 안 푼 문제들 정답 조회 -->
	<select id="findAnswersByQuestionIds" parameterType="java.util.List" resultType="ExamResultDto">
		SELECT question_id, 
			   correct_answer
		  FROM exam_answer
		 WHERE question_id IN
		 <foreach collection="list" item="item" open="(" separator="," close=")">
		 	#{item}
		 </foreach>
	</select>
</mapper>