<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.ex.ExamSelectionMapper">
	<select id="getExamTypes" resultType="ExamTypeDto">
		SELECT exam_type_code,
			   exam_type_name
		  FROM exam_type
		 WHERE is_deleted = 0
		 ORDER BY exam_type_name
	</select>
	
	<select id="getExamRounds" resultType="String">
		SELECT distinct exam_round
		  FROM exam_info
		 WHERE exam_type_id = (
		 	SELECT exam_type_id
			  FROM exam_type
			 WHERE exam_type_code = #{examTypeCode}
		 )
		 ORDER BY exam_round
	</select>
	
	<select id="getExamSubjects" parameterType="java.util.HashMap" resultType="String">
		SELECT distinct exam_subject
		  FROM exam_info
		 WHERE exam_type_id = (
		 	SELECT exam_type_id
			  FROM exam_type
			 WHERE exam_type_code = #{examTypeCode}
		 )
		   AND exam_round = #{examRound}
		 ORDER BY exam_subject
	</select>
	
	<!-- 중복 시험 여부 확인 -->
	<select id="checkExistingExamInfo" parameterType="ExamInfoDto" resultType="Integer">
		SELECT COUNT(*)
		  FROM exam_info
		 WHERE exam_type_id = #{examTypeId}
		   AND exam_round = #{examRound}
		   AND exam_subject = #{examSubject}
	</select>
	
	<!-- 시험 정보 저장 -->
	<insert id="saveParsedExamInfo" parameterType="ExamInfoDto">
		<selectKey resultType="int" keyProperty="examId" order="BEFORE" >
			SELECT seq_exam_info.nextval FROM dual
		</selectKey>
		INSERT INTO exam_info
			(
			exam_id,
			exam_type_id,
			exam_round,
			exam_subject,
			sessionNo
			)
		 VALUES
		 	(
		 	#{examId},
		 	#{examTypeId},
		 	#{examRound},
		 	#{examSubject},
		 	#{sessionNo}
		 	)
	</insert>
	
	<!-- 시험 문제 저장 -->
	<insert id="saveParsedQuestionInfo" parameterType="java.util.HashMap">
		<selectKey keyProperty="questionId" resultType="int" order="BEFORE">
			SELECT seq_exam_question.nextval FROM dual
		</selectKey>
		INSERT INTO exam_question
			(
			question_id,
			exam_id,
			question_num,
			question_text,
			question_image,
			question_passage,
			passage_scope
			)
		VALUES
			(
			#{questionId},
			#{examId},
			#{questionNum},
			#{questionText},
			null,
			#{questionPassage},
			#{passageScope}
			)
	</insert>
	
	<!-- 시험 선택지 저장 -->
	<insert id="saveParsedChoiceInfo" parameterType="ExamChoiceDto">
		INSERT INTO exam_choice
			(
			choice_id,
			question_id,
			choice_label,
			choice_text,
			choice_image
			)
		VALUES
			(
			seq_exam_choice.nextval,
			#{questionId},
			#{choiceLabel},
			#{choiceText},
			#{choiceImage}
			)
	</insert>
	
</mapper>